.cart {
    width: 80%;
    margin: 15px auto;
}

.cart-description {
    text-align: center;
    margin: 15px auto;
    font-size: 3rem;
    font-weight: bold;
}

.cart-items {
    margin-top: 10%; 
    text-align: center;
}

.cart-total {
    margin-top: 10%;
    text-align: center;
    font-size: 2.3rem;
}

.cart-total-amount {
    margin-bottom: 5%;
}

@media screen and (max-width: 726px) {
    .cart-items {
        margin-top: 20%;
    }
    
    .cart-total {
        margin-top: 20%;
    }
    
    .cart-total-amount {
        margin-bottom: 15%;
    }
}