.logo {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.logo:hover {
    color: rgb(36, 0, 167);
}