.item { 
    display: flex;
    align-items: center;
    height: 100%;
}

.item-image {
    display: block;
}

.item-innerWrapper {
    display: block;
    width: 100%;
    height: 288px;
    position: relative;
}

.item-innerWrapper-description {
    position: absolute;
    top: 45%;
    left: 5%;
    font-weight: 700;
}

.item-innerWrapper-upperText {
    position: absolute;
    top: 0;
    left: 40%;
    display: block;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

.item-innerWrapper-counter {
    position: absolute;
    top: 43%;
    left: 80%;
}

.item-innerWrapper-counter label {
    display: inline-block;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.item-innerWrapper-counter input {
    border: 1px;
    text-align: center;
    border: 1px solid rgb(110, 110, 110);
    margin: 0 15px;
}

.item-innerWrapper-counter input::-webkit-outer-spin-button,
.item-innerWrapper-counter input::-webkit-inner-spin-button,
.item-innerWrapper-counter input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.item-innerWrapper-counter button {
    border-radius: 50%;
    border: 0px;
}

.item-innerWrapper-removeButton {
    position: absolute;
    top: 70%;
    left: 80%;
}

.item-innerWrapper-itemPrice {
    position: absolute;
    font-weight: 600;
    bottom: 10%;
    left: 50%
}

@media screen and (max-width: 720px) {
    .item-innerWrapper-removeButton {
        top: 83%;
        left: 20%;
    }

    .item-innerWrapper-upperText {
        display: none;
    }
    
    .item-innerWrapper-description {
        top: 0%;
        left: 20%;
        font-weight: 700;
    }

    .item-innerWrapper-itemPrice {
        font-weight: 600;
        bottom: 20%;
        left: 20%
    }

    .item-innerWrapper-counter {
        position: absolute;
        top: 43%;
        left: 15%;
    }
}