.item { 
    display: flex;
    align-items: center;
    height: 100%;
}

.item-image {
    display: block;
}

.item-innerWrapper {
    display: block;
    width: 100%;
    height: 288px;
    position: relative;
}

.item-innerWrapper-description {
    position: absolute;
    top: 45%;
    left: 5%;
    font-weight: 700;
}

.item-innerWrapper-upperText {
    position: absolute;
    top: 0;
    left: 40%;
    display: block;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

.item-innerWrapper-counter {
    position: absolute;
    top: 43%;
    left: 80%;
}

.item-innerWrapper-counter label {
    display: inline-block;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.item-innerWrapper-counter input {
    border: 1px;
    color: white;
    background-color: #adadad;
    text-align: center;
    margin: 0 15px;
}

.item-innerWrapper-counter input::-webkit-outer-spin-button,
.item-innerWrapper-counter input::-webkit-inner-spin-button,
.item-innerWrapper-counter input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.item-innerWrapper-counter button {
    border-radius: 50%;
    border: 0px;
}

.item-innerWrapper-removeButton {
    position: absolute;
    top: 70%;
    left: 82%;
}

.item-innerWrapper-itemPrice {
    position: absolute;
    font-weight: 600;
    bottom: 10%;
    left: 50%
}